<% include ../partials/header %>
            <p class="lead"><%=book.title%></p>
            <div class="thumbnail display-book">
            <img class="img-responsive" src="<%=book.image%>">
            <div class="caption-full">
                <h4><a><%=book.title%></a> </h4>
                <p><%= book.description %></p>
                <p><em>Written By <span class="author"> <%=book.author %></em></span></p>
                <% if(!currentUser) { %>
                    <a href="/login"><p>Login For More!</p></a>
                <% } %> 

            </div>
        </div>
    <% if(currentUser) { %>
    <div class="well">
        <div class="text-left">
                <a class="btn btn-success" href="/books/<%= book._id %>/add">Add to My Catalogue</a>
                <%if(currentUser._id.equals(book.created_user._id)){ %>
                <a class="btn btn-warning" href="/books/<%= book._id %>/edit">Edit Book</a>
                <form class="delete-form" action="/books/<%=book._id%>/delete?_method=DELETE" method="POST">
                        <input class='btn btn-danger' type="submit" value="Delete Book"</input>
                </form>
                
                <% } %>
        </div>
        <hr>
            </div>
        </div>
    <% } %>
    </div>
 
<% include ../partials/footer %>